/* DON"T MESS WITH THIS FILE WORKS FOR BOTH ONE A TWO PLAYERS */

body {
  background-image: url('./images/back.png');
  background-color: rgba(220, 14, 108, 0.2);
  background-size: auto;
  background-position: center;
  font-weight: 500;
  position: relative;
  color: rgb(12, 11, 11);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  max-width: 32rem;
  padding: 2rem;
  margin: auto;
}

h1 {
  display: inline;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  border: none;
  padding: 20px;
  font-weight: bolder;
  font-size: 45px;
}

td {
  border: 4px solid #333;
  height: 200px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  font-size: 70px;
  cursor: pointer;
}

table {
  position: absolute;
  left: 30%;
  top: 100px;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

p {
  margin: 10px;
  padding: 10px;
  font-size: 22px;
  text-align: start;
  color: black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.status-bar {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(185, 14, 108, 0.8);
  align-content: center;
  justify-items: left;
  border-radius: 5px;
}

.endgame {
  display: none;
  width: 400px;
  top: 200px;
  background-color: rgba(108, 14, 108, 0.8);
  position: absolute;
  left: 30%;
  margin-left: -50px;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  color: rgb(216, 42, 162);
  font-size: 80px;
  text-shadow: 2px 2px #000000;
}

.buttons {
  display: flex;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: rgba(62, 20, 20, 0.4);
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #999;
}

.buttons:hover {
  background-color: rgb(9, 126, 243)
}

.buttons:active {
  background-color: rgb(4, 128, 255);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}