.container{
  width: 320px;
  height: 32px;
  margin: auto;
  margin-top: 100px;
}
h1 {
  text-align: center;;
  font-size: 40px;
}
.row{
  height: 100px;
}
.row{
  height: 100px;
}
.col {
  height: 100px;
  width: 100px;
  float: left;
  font-size: 100px;
  text-align:center;
  line-height: 100px;
}
.col:hover{
  background-color: aqua;
}
.border-b{
  border-bottom: 10px solid darkblue;
}
.border-r{
  border-right: 10px solid darkblue;
}
.winner{
  color: indigo;
}

.players{
  width: 75px;
  height: 75px;
  align-self: center;
}
